@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-bottom {
  from { transform: translateY(30px); }
}

@keyframes slide-to-top {
  to { transform: translateY(-30px); }
}

::view-transition-old(root) {
  /* animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out, */
    /* 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-top; */
}

::view-transition-new(root) {
  /* animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in, */
    /* 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-bottom; */
}

::view-transition-group(*) {
  animation-timing-function: cubic-bezier(.33,-0.19,.24,1.29);
  animation-timing-function: cubic-bezier(.61,-0.26,.27,1.3);
  animation-duration: 0.8s;
}

::view-transition-old(inMotion) {
  animation: 390ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-top;
}

::view-transition-new(inMotion) {
  animation: 390ms cubic-bezier(0, 0, 0.2, 1) forwards fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) forwards slide-from-bottom;
}