* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* font-size: 62.5%; */
}

body {
  background: #f0f0f0;
  /* background-color: black; */
  color: black;
  font-family: 'Mori', 'Pretendard', sans-serif;
}

a {
  color: black;
}

a {
  pointer-events: all;
  color: black;
  text-decoration: none;
}

svg {
  fill: black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  touch-action: none;
  opacity: 0;
  animation: fade-in 5s ease 1s forwards;
}

#freg canvas {
  opacity: 1;
  animation: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

header .left a {
  display: block;
  position: relative;
  top: 2rem;
  left: 5rem;
  width: fit-content;
  font-size: 1.125rem;
  letter-spacing: -0.04em;
  line-height: 1;
  transform: rotate(-3deg);
  background-color: #fff;
  padding: 8px;
  font-style: italic;

  /* -rotate-3 bg-white p-2 */
}

header .left strong {
  display: block;
  position: relative;
  font-weight: 700;
}

header .left strong:nth-child(2) {
  border-bottom: 4px solid #000;
}

header .left .dot {
  position: relative;
  font-size: 2.5rem;
  color: #EE536B;
  color: #222;
  color: rgb(224, 109, 114);
  line-height: 0;
  margin-left: 0.12em;
  bottom: 1px;
  /* letter-spacing: 0.02em; */
}

header .left span {
  color: #222;
  font-size: 1.3rem;
  font-weight: 400;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  width: fit-content;
  position: absolute;
  right: 5rem;
  top: 2rem;
  /* border: 1px solid black; */
  border-radius: 35px;
  padding: 0.9rem 3rem 0.9rem 1.8rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  backdrop-filter: blur(25px);
}

.menu-container .contact {
  position: relative;
}

.menu-container .contact::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(130%, -55%) rotate(-45deg);
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 50%;
  background: #B6F172 url(../icons/arrow-circle-lined.svg) no-repeat center;
}

.slogan {
  font-weight: 700;
  font-size: 10rem;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
  line-height: 1;
}

.spacer {
  height: 5vh;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contact-wrap {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

.contact-wrap a small {
  display: block;
  font-size: 0.8rem;
  padding-top: 2em;
}

.social-wrap {
  display: flex;
  gap: 1.1rem;
}

.social-wrap a {
  display: block;
  background: #E8E8E8;
  padding: 0.65rem;
  border-radius: 50%;
}

.social-wrap img {
  display: block;
}

.social-icon {
  width: 1.5rem;
}

.card a:hover {
  background-color: black !important;
  color: white !important;
}

.card a:hover .rounded-border {
  border-color: black !important;
}

.card a,
.card a img,
.card a .num,
.card a .rounded-border {
  transition: all 0.31s ease-out;
}

.card a .v-wrap {
  transition: all 0.21s ease-out;
}

.card a:hover img {
  transform: scale(1.05);
}

.card a:hover .num {
  transform: translateY(-5%);
}

.goo {
  --color-highlight: #fff;
  font-size: 3rem;
  line-height: 1.35;
  display: inline;
  box-decoration-break: clone;
  background: var(--color-highlight);
  padding: 1.2rem 2rem;
  filter: url('#goo');
  font-weight: 700;
  white-space: pre-line;
  /* line-height: 1.2; */
}
.hhh {
  margin-top: 22px;
  font-size: 3rem;
  font-weight: 700;
  /* background-color: #f0f0f0; */
  /* background-color: #fff; */
  padding: 1rem;
  border-bottom-right-radius: 1rem;
}