* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* font-size: 62.5%; */
}

body {
  background: #f0f0f0;
  /* background-color: black; */
  color: black;
  font-family: 'Mori', 'Pretendard', sans-serif;
}

a {
  color: black;
}

a {
  pointer-events: all;
  color: black;
  text-decoration: none;
}

svg {
  fill: black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  touch-action: none;
  opacity: 0;
  animation: fade-in 5s ease 1s forwards;
}

#freg canvas {
  opacity: 1;
  animation: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3000;
}

header .left a {
  display: block;
  position: relative;
  top: 2rem;
  left: 5rem;
  width: fit-content;
  font-size: 1.2rem;
  letter-spacing: -0.04em;
  line-height: 0.9;
  /* transform: rotate(-3deg); */
  /* font-style: italic; */
  background-color: #fff;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  overflow: hidden;
}

header .left strong {
  display: block;
  position: relative;
  font-weight: 700;
  width: fit-content;
  
}

header .left strong:nth-child(1) {
  left: -4px;
}

header .left strong:nth-child(2) {
  left: -1px;
}

header .left strong:nth-child(2)::after {
  content: '';
  display: block;
  position: absolute;
  /* border-bottom: 4px solid #000; */
  background-color: #000;
  height: 5px;
  bottom: -3px;
  width: 40px;
  /* width: 22px; */
  transition: all 0.34s ease-out;
}

header .left .dot {
  position: relative;
  font-size: 130%;
  color: #EE536B;
  color: #222;
  color: rgb(224, 109, 114);
  line-height: 0;
  margin-left: 0.12em;
  /* bottom: 1px; */
}

header .left small {
  display: block;
  position: relative;
  margin-top: 0.6em;
  color: #666;
  font-size: 60%;
  letter-spacing: 0.04em;
  font-weight: 100;
  font-style: normal;
}

.menu-container {
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 2rem;
  width: fit-content;
  position: absolute;
  right: 5rem;
  top: 2rem;
  /* border: 1px solid black; */
  border-radius: 35px;
  padding: 0.9rem 1.8rem 0.9rem 1.8rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  backdrop-filter: blur(25px);
}

.menu-container .contact {
  position: relative;
}

.menu-container > a {
  position: relative;
  top: 1px;
}

.menu-container .contact::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(130%, -55%) rotate(-45deg);
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 50%;
  background: #B6F172 url(../icons/arrow-circle-lined.svg) no-repeat center;
}

.slogan {
  position: relative;
  font-weight: 700;
  font-size: 9rem;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 12rem;
  line-height: 1;
  overflow: hidden;
  width: 100%;
}

.slogan small {
  font-size: 2rem;
  display: none;
}

.spacer {
  height: 5vh;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contact-wrap {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

.contact-wrap a small {
  display: block;
  font-size: 0.8rem;
  padding-top: 2em;
}

.social-wrap {
  display: flex;
  gap: 1.1rem;
}

.social-wrap a {
  display: block;
  background: #E8E8E8;
  padding: 0.65rem;
  border-radius: 50%;
}

.social-wrap img {
  display: block;
}

.social-icon {
  width: 1.5rem;
}

a.project-item:hover {
  background-color: black !important;
  color: white !important;
}

a.project-item:hover .rounded-border {
  border-color: black !important;
}

a.project-item,
a.project-item img,
a.project-item .num,
a.project-item .rounded-border {
  transition: all 0.31s ease-out;
}

a.project-item .v-wrap {
  transition: all 0.21s ease-out;
}

a.project-item:hover img {
  transform: scale(1.05);
}

a.project-item:hover .num {
  transform: translateY(-5%);
}

a.project-item:hover .v-wrap {
  /* border-radius: 1.5rem; */
}

.goo {
  --color-highlight: #fff;
  font-size: 3rem;
  line-height: 1.35;
  display: inline;
  box-decoration-break: clone;
  background: var(--color-highlight);
  padding: 1.2rem 2rem;
  filter: url('#goo');
  font-weight: 700;
  white-space: pre-line;
  /* line-height: 1.2; */
}
.hhh {
  margin-top: 22px;
  font-size: 3rem;
  font-weight: 700;
  /* background-color: #f0f0f0; */
  /* background-color: #fff; */
  padding: 1rem;
  border-bottom-right-radius: 1rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}